.btn {
  padding: 20px;
  cursor: pointer; }
  .btn.btn-back {
    background: url(../../images/back_ico.svg) 50% no-repeat;
    background-size: 16px;
    z-index: 5; }
  .btn.btn-menu {
    background: url(../../images/more_ico.svg) 50% no-repeat;
    z-index: 5; }
  .btn.btn-playlist {
    background: url(../../images/playlist_ico.svg) 0 no-repeat;
    z-index: 2; }
  .btn.btn-shuffle {
    background: url(../../images/shuffle_ico.svg) 50% no-repeat;
    background-size: 26px; }
  .btn.btn-previous {
    background: url(../../images/previous_ico.svg) 50% no-repeat;
    background-size: 30px; }
  .btn.btn-play {
    background: url(../../images/Play_inactive.png) 50% no-repeat;
    background-size: 80px;
    padding: 60px; }
    @media only screen and (min-width: 480px) {
      .btn.btn-play {
        background-size: 160px;
        padding: 130px 115px; } }
    .btn.btn-play.active {
      background: url(../../images/Play_active.png) 35% 60% no-repeat;
      background-size: 130px;
      padding: 60px; }
      @media only screen and (min-width: 480px) {
        .btn.btn-play.active {
          background-size: 260px;
          padding: 130px 115px; } }
  .btn.btn-next {
    background: url(../../images/next_ico.svg) 50% no-repeat;
    background-size: 30px; }
  .btn.btn-repeat {
    background: url(../../images/repeat_ico.svg) 50% no-repeat;
    background-size: 26px; }
  .btn.btn-close-drawer {
    background: url(../../images/hide_ico.svg) 50% no-repeat;
    background-size: 26px; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(15, 214, 90, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0.4);
    box-shadow: 0 0 0 0 rgba(15, 214, 90, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(15, 214, 90, 0);
    box-shadow: 0 0 0 25px rgba(15, 214, 90, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0);
    box-shadow: 0 0 0 0 rgba(15, 214, 90, 0); } }
@keyframes eq-animation {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 15px; }
  @media only screen and (min-width: 480px) {
    nav {
      padding: 41px 45px; } }
  nav .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 0;
    margin: 0; }
    nav .title .main-title {
      padding: 0;
      margin: 0;
      color: #b8b8b8;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 15px; }
      @media only screen and (min-width: 480px) {
        nav .title .main-title {
          font-size: 18px; } }
    nav .title .subtitle {
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: 18px; }
      @media only screen and (min-width: 480px) {
        nav .title .subtitle {
          font-size: 24px; } }

.image-bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 373px;
  top: 0;
  left: 0;
  background-blend-mode: lighten;
  background: url(../../images/bg_image.jpg) center no-repeat;
  background-color: #1b1b1b;
  opacity: .11;
  filter: grayscale(100%); }
  .image-bg .image-opacity {
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #1b1b1b);
    height: 100%; }

.images-wrap {
  position: relative;
  max-width: 320px;
  max-height: 320px;
  display: block;
  margin: 0 auto; }
  .images-wrap .main-img {
    width: 100%;
    height: 100%; }
    .images-wrap .main-img.small {
      width: 192px; }
  .images-wrap .inside-img {
    display: none; }
    @media only screen and (min-width: 480px) {
      .images-wrap .inside-img {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: url(../../images/daft_logo.svg) 50% 46% no-repeat;
        background-color: #1b1b1b;
        height: 82px;
        width: 82px;
        border-radius: 50px;
        border: 5px solid #0fd65a; } }
    .images-wrap .inside-img.active {
      box-shadow: 0 0 0 rgba(15, 214, 90, 0.4);
      animation: pulse 1s infinite; }

.song-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .song-title-wrap .song-title {
    color: #0fd65a;
    font-weight: 400;
    opacity: 1;
    transition: all .2s ease-in-out;
    padding: 0;
    margin: 30px 0 4px 0;
    user-select: none;
    font-size: 20px; }
    @media only screen and (min-width: 480px) {
      .song-title-wrap .song-title {
        font-size: 36px; } }
  .song-title-wrap .artist {
    color: #9a9b9b;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 1;
    transition: all .3s ease-in-out;
    transition-delay: .08s;
    padding: 0;
    margin: 0;
    font-weight: 400;
    user-select: none; }

.song-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4px; }
  .song-slider .glide .glide__slide {
    transition: all .5s; }
    .song-slider .glide .glide__slide .song-title-wrap .song-title {
      opacity: 0; }
    .song-slider .glide .glide__slide .song-title-wrap .artist {
      opacity: 0; }
    .song-slider .glide .glide__slide.glide__slide--active .song-title-wrap .song-title {
      opacity: 1; }
    .song-slider .glide .glide__slide.glide__slide--active .song-title-wrap .artist {
      opacity: 1; }
  .song-slider .glide .glide__arrows {
    margin-top: -30px;
    cursor: auto; }

.controls {
  position: relative;
  width: 100%;
  margin: 40px 0 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  @media only screen and (min-width: 480px) {
    .controls {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; } }
  .controls .position-1 {
    position: relative; }
    @media only screen and (min-width: 480px) {
      .controls .position-1 {
        position: absolute;
        top: 110px;
        left: 45px; } }
  .controls .position-2 {
    position: relative; }
    @media only screen and (min-width: 480px) {
      .controls .position-2 {
        position: absolute;
        top: 110px;
        left: 125px; } }
  .controls .position-3 {
    position: relative; }
  .controls .position-4 {
    position: relative; }
    @media only screen and (min-width: 480px) {
      .controls .position-4 {
        position: absolute;
        top: 110px;
        right: 125px; } }
  .controls .position-5 {
    position: relative; }
    @media only screen and (min-width: 480px) {
      .controls .position-5 {
        position: absolute;
        top: 110px;
        right: 45px; } }

.time-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .time-bar .time-bar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 15px;
    width: 88%;
    margin: 0 0 30px 0; }
    @media only screen and (min-width: 480px) {
      .time-bar .time-bar-wrap {
        margin-top: -27px;
        margin-bottom: 100px; } }
    .time-bar .time-bar-wrap .bar {
      position: relative;
      width: 100%;
      margin: 0 20px; }
      .time-bar .time-bar-wrap .bar .bar-bg {
        position: absolute;
        height: 1px;
        background: #070707;
        width: 100%;
        z-index: -1;
        top: 2px;
        left: 0; }
        .time-bar .time-bar-wrap .bar .bar-bg:after {
          position: absolute;
          content: '';
          top: -2px;
          right: 0;
          height: 5px;
          width: 5px;
          background: #000;
          border-radius: 50%; }
      .time-bar .time-bar-wrap .bar .bar-fill {
        height: 5px;
        background: #292929;
        width: 50%;
        z-index: 2;
        border-top-right-radius: 2.5px;
        border-bottom-right-radius: 2.5px; }
    .time-bar .time-bar-wrap .time {
      font-size: 18px;
      font-weight: 400;
      color: #9a9b9b; }

.equalizer-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #0fd65a;
  transition: opacity .2s; }
  .equalizer-container .equalizer {
    position: absolute;
    align-items: flex-end;
    display: flex;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow: hidden; }
    .equalizer-container .equalizer .eq-col {
      position: relative;
      flex: 1;
      margin-right: 0;
      height: 0%;
      transition: all 2s; }
      .equalizer-container .equalizer .eq-col.active {
        transition: all 2s;
        height: 100%; }
      .equalizer-container .equalizer .eq-col div {
        position: absolute;
        width: 100%;
        height: 100%;
        will-change: transform;
        animation-name: eq-animation;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        background-color: #0fd65a;
        transform: translateY(100%);
        border-top-right-radius: 40%;
        border-top-left-radius: 40%; }
  .equalizer-container .eq-1-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-1-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-2-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-2-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-3-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-3-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-4-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-4-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-5-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-5-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-6-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-6-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-7-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-7-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-8-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-8-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-9-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-9-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-10-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-10-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-11-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-11-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-12-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-12-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-13-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-13-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-14-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-14-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-15-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-15-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-16-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-16-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-17-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-17-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-18-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-18-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-19-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-19-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-20-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-20-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-21-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-21-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-22-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-22-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-23-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-23-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-24-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-24-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-25-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-25-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-26-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-26-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-27-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-27-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-28-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-28-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-29-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-29-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-30-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-30-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-31-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-31-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-32-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-32-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-33-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-33-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-34-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-34-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-35-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-35-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-36-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-36-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-37-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-37-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-38-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-38-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-39-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-39-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-40-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-40-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-41-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-41-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-42-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-42-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-43-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-43-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-44-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-44-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-45-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-45-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-46-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-46-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-47-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-47-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-48-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-48-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-49-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-49-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-50-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-50-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-51-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-51-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-52-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-52-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-53-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-53-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-54-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-54-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-55-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-55-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-56-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-56-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-57-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-57-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-58-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-58-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-59-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-59-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-60-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-60-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-61-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-61-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-62-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-62-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-63-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-63-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-64-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-64-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-65-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-65-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-66-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-66-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-67-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-67-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-68-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-68-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-69-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-69-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-70-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-70-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-71-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-71-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-72-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-72-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-73-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-73-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-74-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-74-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-75-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-75-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-76-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-76-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-77-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-77-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-78-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-78-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-79-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-79-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-80-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-80-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-81-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-81-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-82-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-82-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-83-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-83-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-84-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-84-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-85-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-85-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-86-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-86-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-87-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-87-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-88-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-88-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-89-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-89-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-90-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-90-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-91-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-91-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-92-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-92-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-93-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-93-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-94-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-94-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-95-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-95-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-96-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-96-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-97-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-97-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-98-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-98-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-99-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-99-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-100-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-100-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-101-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-101-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-102-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-102-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-103-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-103-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-104-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-104-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-105-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-105-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-106-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-106-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-107-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-107-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-108-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-108-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-109-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-109-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-110-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-110-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-111-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-111-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-112-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-112-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-113-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-113-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-114-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-114-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-115-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-115-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-116-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-116-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-117-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-117-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-118-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-118-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-119-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-119-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-120-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-120-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-121-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-121-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-122-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-122-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-123-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-123-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-124-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-124-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-125-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-125-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-126-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-126-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-127-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-127-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-128-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-128-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-129-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-129-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-130-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-130-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-131-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-131-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-132-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-132-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-133-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-133-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-134-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-134-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-135-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-135-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-136-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-136-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-137-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-137-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-138-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-138-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-139-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-139-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-140-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-140-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-141-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-141-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-142-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-142-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-143-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-143-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-144-1 {
    animation-duration: 1.5s; }
  .equalizer-container .eq-144-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-145-1 {
    animation-duration: 1s; }
  .equalizer-container .eq-145-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-146-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-146-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-147-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-147-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-148-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-148-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-149-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-149-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-150-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-150-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-151-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-151-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-152-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-152-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-153-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-153-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-154-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-154-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-155-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-155-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-156-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-156-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-157-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-157-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-158-1 {
    animation-duration: 1.2s; }
  .equalizer-container .eq-158-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-159-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-159-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-160-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-160-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-161-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-161-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-162-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-162-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-163-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-163-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-164-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-164-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-165-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-165-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-166-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-166-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-167-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-167-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-168-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-168-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-169-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-169-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-170-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-170-2 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-171-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-171-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-172-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-172-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-173-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-173-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-174-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-174-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-175-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-175-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-176-1 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-176-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-177-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-177-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-178-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-178-2 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-179-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-179-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-180-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-180-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-181-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-181-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-182-1 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-182-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-183-1 {
    animation-duration: 1.1s; }
  .equalizer-container .eq-183-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-184-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-184-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-185-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-185-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-186-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-186-2 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-187-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-187-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-188-1 {
    animation-duration: 0.4s; }
  .equalizer-container .eq-188-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-189-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-189-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-190-1 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-190-2 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-191-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-191-2 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-192-1 {
    animation-duration: 1.4s; }
  .equalizer-container .eq-192-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-193-1 {
    animation-duration: 0.7s; }
  .equalizer-container .eq-193-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-194-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-194-2 {
    animation-duration: 0.2s; }
  .equalizer-container .eq-195-1 {
    animation-duration: 0.3s; }
  .equalizer-container .eq-195-2 {
    animation-duration: 0.9s; }
  .equalizer-container .eq-196-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-196-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-197-1 {
    animation-duration: 0.8s; }
  .equalizer-container .eq-197-2 {
    animation-duration: 1s; }
  .equalizer-container .eq-198-1 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-198-2 {
    animation-duration: 0.6s; }
  .equalizer-container .eq-199-1 {
    animation-duration: 0.5s; }
  .equalizer-container .eq-199-2 {
    animation-duration: 0.1s; }
  .equalizer-container .eq-200-1 {
    animation-duration: 1.3s; }
  .equalizer-container .eq-200-2 {
    animation-duration: 1s; }

.footer {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
  background: #fff; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 10px 20px; }
    @media only screen and (min-width: 480px) {
      .footer .footer-wrap {
        margin: 16px 50px; } }
    .footer .footer-wrap .playlist-wrap {
      min-width: 78px; }
    .footer .footer-wrap .next-song-wrap {
      display: flex;
      justify-content: center;
      align-items: space-between;
      flex-direction: column;
      color: #000;
      width: 100%; }
      .footer .footer-wrap .next-song-wrap .next-song-info {
        color: #9b9b9b;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase; }
        @media only screen and (min-width: 480px) {
          .footer .footer-wrap .next-song-wrap .next-song-info {
            font-size: 18px; } }
      .footer .footer-wrap .next-song-wrap .next-song-title {
        color: #1b1b1b;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: 18px;
        padding-right: 20px; }
        @media only screen and (min-width: 480px) {
          .footer .footer-wrap .next-song-wrap .next-song-title {
            font-size: 24px; } }
    .footer .footer-wrap .next-song-time-wrap {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
      height: 100%;
      flex: 1 1;
      min-width: 70px; }
      .footer .footer-wrap .next-song-time-wrap .next-song-time {
        font-weight: 400;
        color: #9b9b9b;
        padding: 0;
        font-size: 18px;
        margin: 0; }
        @media only screen and (min-width: 480px) {
          .footer .footer-wrap .next-song-time-wrap .next-song-time {
            font-size: 24px; } }

.drawer {
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition-timing-function: ease-in-out;
  text-align: center; }
  .drawer.drawer-bottom {
    bottom: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #fff;
    transition: all .3s ease-in-out;
    top: calc(100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    @media screen and (min-width: 576px) {
      .drawer.drawer-bottom {
        width: 576px;
        margin: 0 auto;
        left: 0;
        right: 0; } }
    .drawer.drawer-bottom.open {
      top: 0;
      z-index: 5; }
    .drawer.drawer-bottom .drawer-header {
      position: relative;
      width: 100%;
      background: #000;
      min-height: 131px; }
      .drawer.drawer-bottom .drawer-header .image-bg {
        z-index: 1;
        height: 131px;
        opacity: .2; }
      .drawer.drawer-bottom .drawer-header .drawer-header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        min-height: 131px; }
        .drawer.drawer-bottom .drawer-header .drawer-header-wrap .back-wrap {
          min-width: 128px;
          z-index: 2; }
        .drawer.drawer-bottom .drawer-header .drawer-header-wrap .current-wrap {
          display: flex;
          justify-content: center;
          align-items: space-between;
          flex-direction: column;
          width: 100%;
          z-index: 2; }
          .drawer.drawer-bottom .drawer-header .drawer-header-wrap .current-wrap .song-title-wrap {
            align-items: flex-start; }
            .drawer.drawer-bottom .drawer-header .drawer-header-wrap .current-wrap .song-title-wrap .song-title {
              margin: 0;
              font-size: 24px; }
            .drawer.drawer-bottom .drawer-header .drawer-header-wrap .current-wrap .song-title-wrap .artist {
              font-size: 18px; }
        .drawer.drawer-bottom .drawer-header .drawer-header-wrap .mini-play-wrap {
          z-index: 2;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: row; }
          .drawer.drawer-bottom .drawer-header .drawer-header-wrap .mini-play-wrap .btn-play {
            background-size: 70px;
            padding: 55px;
            margin-right: 40px; }
            .drawer.drawer-bottom .drawer-header .drawer-header-wrap .mini-play-wrap .btn-play.active {
              background: url(../../images/Play_active.png) 35% 60% no-repeat;
              background-size: 110px;
              padding: 55px; }
    .drawer.drawer-bottom .drawer-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 15px 0; }
      .drawer.drawer-bottom .drawer-list .links {
        width: 100%;
        height: 100%;
        padding: 0 0 10px;
        margin: 0;
        -webkit-mask-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.5) 100%);
        mask-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.5) 100%);
        overflow-y: auto; }
        .drawer.drawer-bottom .drawer-list .links li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 100%;
          padding: 18px 10%; }
          .drawer.drawer-bottom .drawer-list .links li .no {
            color: #000;
            font-size: 18px;
            color: #9a9b9b;
            padding: 0;
            margin: 0; }
          .drawer.drawer-bottom .drawer-list .links li .link {
            color: #1b1b1b;
            font-size: 24px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            width: 100%;
            margin: 0 30px;
            text-decoration: none; }
          .drawer.drawer-bottom .drawer-list .links li .time {
            color: #9a9b9b;
            font-size: 24px;
            padding: 0;
            margin: 0; }
    .drawer.drawer-bottom .drawer-footer {
      width: 100%;
      padding: 0 50px;
      justify-self: flex-end;
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .drawer.drawer-bottom .drawer-footer .btn-btn-shuffle-big {
        width: 100%;
        margin: 0 50px;
        background: #0fd65a;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50px;
        border-radius: 25px; }
  .drawer.drawer-right {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all .6s ease;
    background-color: #111111;
    z-index: 4;
    padding-top: 20px; }
    @media only screen and (min-width: 480px) {
      .drawer.drawer-right {
        padding-top: 60px; } }
    .drawer.drawer-right.open {
      background-color: rgba(17, 17, 17, 0.95);
      width: 100%; }
    .drawer.drawer-right .drawer-content-wrap {
      width: 300px;
      margin-top: 60px;
      opacity: 0;
      transition: opacity .7s ease-out;
      transition-delay: .1s; }
      @media only screen and (min-width: 480px) {
        .drawer.drawer-right .drawer-content-wrap {
          margin-top: 160px; } }
      .drawer.drawer-right .drawer-content-wrap.active {
        opacity: 1; }
      .drawer.drawer-right .drawer-content-wrap .song-title-wrap .song-title {
        margin-top: 15px; }
      .drawer.drawer-right .drawer-content-wrap .spacer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 32px 0 40px; }
        .drawer.drawer-right .drawer-content-wrap .spacer .spacer-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 60px; }
          .drawer.drawer-right .drawer-content-wrap .spacer .spacer-wrap .dot {
            display: block;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background: #808080; }
      .drawer.drawer-right .drawer-content-wrap .links {
        list-style-type: none;
        padding-left: 0; }
        .drawer.drawer-right .drawer-content-wrap .links .link {
          font-size: 24px;
          color: #fff;
          margin-bottom: 35px;
          text-decoration: none;
          font-weight: 400;
          display: block; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  clear: both; }

html {
  max-width: 576px;
  margin: 0 auto; }

body {
  position: relative;
  max-width: 576px;
  margin: 0 auto;
  background-color: #1b1b1b;
  color: #fff; }

.container {
  position: relative;
  max-width: 576px;
  height: 100%; }

* {
  box-sizing: border-box; }

/* Utilities */
.ovf-h {
  overflow: hidden; }

/*# sourceMappingURL=app.css.map */
