@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 25px rgba(15, 214, 90, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0.4);
        box-shadow: 0 0 0 0 rgba(15, 214, 90, 0.4);
    }
    70% { 
        -moz-box-shadow: 0 0 0 25px rgba(15, 214, 90, 0);
        box-shadow: 0 0 0 25px rgba(15, 214, 90, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(15, 214, 90, 0);
        box-shadow: 0 0 0 0 rgba(15, 214, 90, 0);
    }
}

@keyframes eq-animation {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }