.images-wrap {
    position: relative;
    max-width: 320px;
    max-height: 320px;
    display: block;
    margin: 0 auto;
    .main-img {
        width: 100%;
        height: 100%;
        &.small {
            width: 192px;
        }
    }
    .inside-img {
        display: none;
        @include screenUp(xs) {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: url(../../images/daft_logo.svg) 50% 46% no-repeat;
            background-color: $dark-gray;
            height: 82px;
            width: 82px;
            border-radius: 50px;
            border: 5px solid $green;
        }
        &.active {
            box-shadow: 0 0 0 rgba(15, 214, 90, 0.4);
            animation: pulse 1s infinite;
        }
    }
}