.drawer {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    z-index: 1;
    overflow-x: hidden;
    transition-timing-function: ease-in-out;
    text-align: center;
    &.drawer-bottom {
        bottom: 0px;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: #fff;
        transition: all .3s ease-in-out;
        top: calc(100%);
        @include flex(flex-start, center, column);
        @media screen and (min-width: 576px) {
            width: 576px;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
        &.open {
            top: 0;
            z-index: 5;
        }
        .drawer-header {
            position: relative;
            width: 100%;
            background: #000;
            min-height: 131px;
            .image-bg {
                z-index: 1;
                height: 131px;
                opacity: .2;
            }
            .drawer-header-wrap {
                @include flex(space-between, center, row);
                width: 100%;
                min-height: 131px;
                .back-wrap {
                    min-width: 128px;
                    z-index: 2;
                }
                .current-wrap {
                    @include flex(center, space-between, column);
                    width: 100%;
                    z-index: 2;
                    .song-title-wrap {
                        align-items: flex-start;
                        .song-title {
                            margin: 0;
                            font-size: 24px;
                        }
                        .artist {
                            font-size: 18px;
                        }
                    }
                }
                .mini-play-wrap {
                    z-index: 2;
                    height: 100%;
                    @include flex(center, flex-end, row);
                    .btn-play {
                        background-size: 70px;
                        padding: 55px;
                        margin-right: 40px;
                        &.active {
                            background: url(../../images/Play_active.png) 35% 60% no-repeat;
                            background-size: 110px;
                            padding: 55px;
                        }
                    }
                }
            }
        }
        .drawer-list {
            @include flex(flex-start, center, row);
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 15px 0;
            .links {
                width: 100%;
                height: 100%;
                padding: 0 0 10px;
                margin: 0;
                -webkit-mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);
                mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);
                overflow-y: auto;
                li {
                    @include flex(space-between, center, row);
                    width: 100%;
                    padding: 18px 10%;
                    .no {
                        color: #000;
                        font-size: 18px;
                        color: $gray;
                        padding: 0;
                        margin: 0;
                    }
                    .link {
                        color: $dark-gray;
                        font-size: 24px;
                        @include flex(flex-start, center, row);
                        width: 100%;
                        margin: 0 30px;
                        text-decoration: none;
                    }
                    .time {
                        color: $gray;
                        font-size: 24px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
        .drawer-footer {
            width: 100%;
            padding: 0 50px;
            justify-self: flex-end;
            margin-top: auto; // :-)
            @include flex(center, center, column);
            .btn-btn-shuffle-big {
                width: 100%;
                margin: 0 50px;
                background: $green;
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                @include flex(center, center, column);
                height: 50px;
                border-radius: 25px;
            }
        }
    }
    &.drawer-right {
        position: absolute;
        @include flex(flex-start, center, column);
        transition: all .6s ease;
        background-color: rgba(17, 17, 17, 1);
        z-index: 4;
        padding-top: 20px;
        @include screenUp(xs) {
            padding-top: 60px;
        }
        &.open {
            background-color: rgba(17, 17, 17, 0.95);
            width: 100%;
        }
        .drawer-content-wrap {
            width: 300px;
            margin-top: 60px;
            opacity: 0;
            transition: opacity .7s ease-out;
            transition-delay: .1s;
            @include screenUp(xs) {
                margin-top: 160px;
            }
            &.active {
                opacity: 1;
            }
            .song-title-wrap {
                .song-title {
                    margin-top: 15px;
                }
            }
            .spacer {
                @include flex(center, center, row);
                width: 100%;
                margin: 32px 0 40px;
                .spacer-wrap {
                    @include flex(space-between, center, row);
                    width: 60px;
                    .dot {
                        display: block;
                        height: 4px;
                        width: 4px;
                        border-radius: 50%;
                        background: #808080;
                    }
                }
            }
            .links {
                list-style-type: none;
                padding-left: 0;
                .link {
                    font-size: 24px;
                    color: #fff;
                    margin-bottom: 35px;
                    text-decoration: none;
                    font-weight: 400;
                    display: block;
                }
            }
        }
    }
}