.equalizer-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $green;
  transition: opacity .2s;
  .equalizer {
    position: absolute;
    align-items: flex-end;
    display: flex;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    .eq-col {
      position: relative;
      flex: 1;
      margin-right: 0;
      height: 0%;
      transition: all 2s;
      &.active {
        transition: all 2s;
        height: 100%;
      }
      div {
        position: absolute;
        width: 100%;
        height: 100%;
        will-change: transform;
        animation-name: eq-animation;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        background-color: $green;
        transform: translateY(100%);
        border-top-right-radius: 40%;
        border-top-left-radius: 40%;
      }
    }
  }
  @for $i from 1 through 200 {
    .eq-#{$i}-1 {
      animation-duration: 0 + random(15)*0.1 + s;
    }
    .eq-#{$i}-2 {
      animation-duration: 0 + random(10)*0.1 + s;
    }
  }
}