.footer {
    display: flex;
    align-self: flex-end;
    margin-top: auto; // :-)
    width: 100%;
    background: #fff;
    .footer-wrap {
        @include flex(space-between, center, row);
        width: 100%;
        margin: 10px 20px;
        @include screenUp(xs) {
            margin: 16px 50px;
        }
        .playlist-wrap {
            min-width: 78px;
        }
        .next-song-wrap {
            @include flex(center, space-between, column);
            color: #000;
            width: 100%;
            .next-song-info {
                color: #9b9b9b;
                font-weight: 400;
                padding: 0;
                margin: 0;
                font-size: 14px;
                text-transform: uppercase;
                @include screenUp(xs) {
                    font-size: 18px;
                }
            }
            .next-song-title {
                color: $dark-gray;
                font-weight: 400;
                padding: 0;
                margin: 0;
                font-size: 18px;
                padding-right: 20px;
                @include screenUp(xs) {
                    font-size: 24px;
                }
            }
        }
        .next-song-time-wrap {
            @include flex(center, flex-end, row);
            height: 100%;
            flex: 1 1;
            min-width: 70px;
            .next-song-time {
                font-weight: 400;
                color: #9b9b9b;
                padding: 0;
                font-size: 18px;
                margin: 0;
                @include screenUp(xs) {
                    font-size: 24px;
                }
            }
        }
    }
}