.song-slider {
    @include flex(center, center, column);
    width: 100%;
    margin-top: 4px;
    .glide {
        .glide__slide {
            transition: all .5s;
            .song-title-wrap {
                .song-title {
                    opacity: 0;
                }
                .artist {
                    opacity: 0;
                }
            }
            &.glide__slide--active {
                .song-title-wrap {
                    .song-title {
                        opacity: 1;
                    }
                    .artist {
                        opacity: 1;
                    }
                }
            }
        }
        .glide__arrows {
            margin-top: -30px;
            cursor: auto;
        }
    }
}